<!DOCTYPE html>
<html lang = "en">
<head >
    <meta charset = "UTF-8" >
    <meta name = "viewport"  content = "width=device-width, initial-scale=1.0" >
<title >Lean On Me</title >
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
 
</head>
<body >
    <div id="map"></div>
    <div class = "container" >
        
        <div class = "row" >
            
        
            <div class = "col-md-12" >
                <h1 >{{title}}</h1 >
            </div>
        </div>
        <div class = "row" >
            <div class = "col-md-12" >
                {{{body}}}
            </div>
        </div>
    </div>

</body>
</html>
