<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Lean On Me</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>The Tech Side of Things</h1>
        <nav class="navbar">
          {{#if loggedIn}}
            <a href="/" class="homepage">Homepage</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout" class="nav-link">Logout</a>
            <span>Welcome, {{user.username}}!</span>
          {{else}}
            <a href="/" class="homepage">Homepage</a>
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <div class="row">
        <div class="col-md-12">
          <h1>{{title}}</h1>
        </div>
      </div>
      <div class="row">
        <main>
          {{{body}}}
        </main>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="map"></div>
      </div>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script>
      const logoutButton = document.querySelector('.nav-link');
      logoutButton.addEventListener('click', async (event) => {
      event.preventDefault(); const response = await fetch('/logout', { method:
      'POST' }); window.location.href = '/'; });
    </script>
  </body>
</html>