<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lean On Me</title>

</head>
<body >
    <div class = "container" >
        <header>
            <h1>
            <p class="volunteer-title">Lean On Me</p>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/" class="homepage">Homepage</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/" class="homepage">Homepage</a>
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>

{{#if loggedIn}}
<script src="/public/javascript/logout.js"></script>
{{/if}}

</body>

</html>