<h2>Login</h2>

<form action="/login" method="post">
<form class = "form-signin">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" />
  <input type="submit" value="Login" />

  <div class="form-signin">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
  <div class="sign-up"><a href="/signup">Sign up to start volunteering!</a></div>
</form>
<script src="/js/login.js"></script>