 <container class="login-signup">
  <section class="login-div">
<div class="row">
  <div class="col-md-6">
      
    <h2 class="login-header">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="login-button btn btn-primary" type="submit">Login</button>
      </div>
      <div class="login-error">
          
      </div>
    </form>
    </div>
  </section>
<section class="signup-div">
  <div class="col-md-6">
    
    <h2 class="login-header">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input placeholder="Minimum of 8 characters"class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="signup-button btn btn-primary" type="submit">Signup</button>
      </div>
      <div class="profile-error">
          
      </div>
    </form>
    </div>
  </div>
</section>
</container>
<script src="/javascript/login.js"></script>