<h2>Login</h2>

<form class="login-form">
  <label for="email-login">Email</label>
  <input type="text" name="email" id="email-login" />
  <label for="password-login">Password</label>
  <input type="password" name="password" id="password-login" />
  <input type="submit" value="Login" />
</form>

<div class="form-signin">

</div>
<div class="sign-up"><a href="/signup">Sign up to start volunteering!</a></div>
<script src="../public/javascript/login.js"></script>