<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form
      class="form new-project-form"
      id="new-project-form"
      action="/api/posts"
    >
      <div class="form-group">
        <label for="project-title">Title:</label>
        <input
          class="form-input"
          type="text"
          id="project-title"
          name="project-title"
        />
      </div>

      <div class="form-group">
        <label for="project-location">location:</label>
        <input
          class="form-input"
          type="text"
          id="project-location"
          name="project-location"
        />
      </div>

      <div class="form-group">
        <label for="project-date">date:</label>
        <input
          class="form-input"
          type="date"
          id="project-date"
          name="project-date"
        />
      </div>

      <div class="form-group">
        <label for="project-category">category:</label>
        <input
          class="form-input"
          type="text"
          id="project-category"
          name="project-category"
        />
      </div>

      <div class="form-group">
        <label for="project-contact-info">contact info:</label>
        <input
          class="form-input"
          type="text"
          id="project-contact-info"
          name="project-contact-info"
        />
      </div>

      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea
          class="form-input"
          id="project-description"
          name="project-description"
        ></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>

    {{#if posts.length}}
      <div class="col-md-6 post-list">
        <h3>Current Posts:</h3>

        {{#each posts as |post|}}
          <div class="row mb-2">
            <div class="col-md-8">
              <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
              <p>{{post.description}}</p>
            </div>
            <div class="col-md-4">
              <button
                class="btn btn-sm btn-danger"
                data-id="{{post.id}}"
              >DELETE</button>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<script src="/javascript/profile.js"></script>