<form class="signup-form">
  <div>
    <label for="name-signup">Name:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="location-signup">Location:</label>
    <input type="text" id="location-signup" />
  </div>
  <div>
    <label for="age-signup">Age:</label>
    <input type="number" id="age-signup" />
  </div>
  <div>
    <label for="gender-signup">Gender:</label>
    <input type="text" id="gender-signup" />
  </div>
  <div>
    <label for="language-signup">Language:</label>
    <input type="text" id="language-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>