/* Set body styles */
body {
  margin: 0;
  padding: 0;
  font-family: initial;
  font-size: 16px;
  background-image: url("https://www.brighthorizons.com/resources/-/media/Images/Blog/2013-10-22_Missy-job-satisfaction_iStock_000016488217Large_source.ashx");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

/* Set search box styles */
#search-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

/* Style search form */
#search-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#search-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#search-form input[type="text"],
#search-form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #480472;
  text-decoration: none;
  font-size: 100%;
  font-weight: 700;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}



#search-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Style search results */
#opportunities {
  padding-left: 1%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
}

.search-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  background-color: #000000d0;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 2% 2% 2% 2%;
  line-height: 1.2em;
  color: #c78de5;
  height: fit-content;
  min-width: 14%;
  font-weight: 700;
}

.search-box {
  width: 100%;
}

.results {
  flex-grow: 1;
}

/* Style for the heading */
h3 {

  background-color: #000000d0;
  font-size: 2.5rem;
  border-radius: 30px;
  padding: 2% 2% 2% 2%;
  line-height: 1.5em;
  color: white;
  text-align: center;
  min-width: 110%;
  margin-top: -1%;
}

/* Style for each opportunity */
.opportunity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000000d0;
  font-size: 2.5rem;
  border-radius: 30px;
  padding: 2% 2% 2% 2%;
  line-height: 1.3em;
  color: #c78de5;
  min-width: 100%;
  margin-bottom: 3%;
}

/* Style for the opportunity title */
.opportunity h2 {
  margin-top: 0;
}

/* Style for the opportunity location, date, category, and user ID */
.opportunity p {
  margin: 0;
  font-weight: 500;
}

.volunteer-title {
  text-align: center;
  font-size: 5em;
  color: rgb(237, 234, 59);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-family: 'Petit Formal Script', cursive;
}

.filter-by {
  margin: 0;
  margin-bottom: 4%;
}

.project-header {
  text-align: center;
  border-bottom: solid goldenrod;
  border-width: 8;
  padding-bottom: 1%;
  min-width: -webkit-fill-available;
}

.searchbar-projects {
  display: flex;
  flex-direction: row;
}

.location-box {
  max-width: 60%;
}

#map {
  width: 250px;
}